%header
  %p.header-text チャットグループが作成されました。
.contents
  .group
    .group-user-name
      %p.user-name tomoya kinsho
      %i.fa.fa-cog.fa-lx{"aria-hidden" => "true"}
      %i.fa.fa-check-square-o{"aria-hidden" => "true"}
    .groups-names
      .group-names
        %p.group-name 神
        %p.group-messages aaaaaaaa
      .group-names
        %p.group-name aaaaaaa
        %p.group-messages メッセージはありません
      .group-names
        %p.group-name sampleグループ
        %p.group-messages aaaaaaaaaaa
  .chats
    .chatsgroup-name
      %p.chat-group-name sampleグループ
      .chat-group-bottom Edit
      %p.chat-group-member tomoya
    .chats-messages
      .chats-messages-groups
        .chat-messages
          %p.chat-messages-name tomoya
          %span.chat-messages-time 2016/10/02 06:28:22
          %p.chat-messages-text こんにちは
        .chat-messages
          %p.chat-messages-name tomoya
          %span.chat-messages-time 2016/10/02 06:28:22
          %p.chat-messages-text こんにちは
        .chat-messages
          %p.chat-messages-name tomoya
          %span.chat-messages-time 2016/10/02 06:28:22
          %p.chat-messages-text こんにちは
      .chats-post
        %p.chats-post-text type a messages
        .chats-post-bottom
          SENT
