.contents
  .group
    .group__user
      %p.group__user__name
        =current_user.name
      =link_to edit_user_registration_path do
        %i.group__user__icon--left.fa.fa-cog.fa-lx
      =link_to new_group_path do
        %i.group__user__icon--left.fa.fa-check-square-o
    .group__contents
      =render partial: 'shared/group', collection: @groups

