
.contents
  .group
    .group__user
      %p.group__user__name
        =current_user.name
      =link_to edit_user_registration_path do
        %i.group__user__icon--left.fa.fa-cog.fa-lx
      =link_to new_group_path do
        %i.group__user__icon--left.fa.fa-check-square-o
    .group__contents
      =render partial: 'shared/group', collection: @groups
  .chat
    .chat__group
      %p.chat__group__name
        =@group.name
      =link_to edit_group_path(params[:group_id]) do
        .chat__group__edit Edit
      .chat__group__member
      %span.chat__group__member member:
      -@users.each do |user|
        %span.chat__group__member
          =user.name
    .chat__messages
      #js__chat__messages__contents.chat__messages__contents
        =render partial: 'shared/chat', collection: @chats
      .chat__messages__post
        = form_for [@group, @chat], html: {id: 'js_sending_form', class: 'form'} do |f|
          .chat__messages__post__text
            =f.text_field :text, :placeholder => "type a message", class: "chat__messages__post__text", id: "js_chat_input"
            %i.chat__messages__post__text__icon.fa.fa-picture-o{"aria-hidden" => "true"}
          = f.submit 'SENT', class: "chat__messages__post__buttom", id: "submit"

