html, body, .contents, .group, .chat, .chat-messages{
  height: 100%;
}

html{
  overflow: auto;

}
body{
  position: relative;
  overflow: hidden;
}
.contents:after{
  content: "";
  display: block;
  clear: both;
}

.flash-message, .chats-post-bottom{
  background-color: $blue-color;
}

.group-contents-box-name, .group-contents-box-message{
  color: #FFFFFF;
}


.flash-message{
  .flash-message-text{
    color: white;
    text-align: center;
  }
}


.chat{
  float: left;
  .chat-group{
    border-color: #eeeeee;
    padding-left: 40px;
    .chat-group-name{
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
      float: left;
    }
    .chat-group-edit{
      line-height: 40px;
      width: 40px;
      margin-top: 28px;
      margin-right: 40px;
      padding: 0 20px;
      border-style: solid;
      float: right;
      border-color: $blue-color;
      color: $blue-color;
    }
    .chat-group-member{
      font-size: 12px;
      margin-top: 15px;
      padding-bottom: 4px;
      color: #999999;
      clear: right;
    }
  }
  .chat-messages{
    background-color: #FAFAFA;
    .chat-messages-contents{
      height: 100%;
      padding: 46px 40px 0px 40px;
      .chat-messages{
        padding-bottom: 40px;
        .chat-messages-contents-box-name{
          font-wight: bold;
          color: #434A54;
          font-size: 16px;
          float: left;
        }
        .chat-messages-contents-box-time{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
          float: left;
        }
      }
      .chat-messages-contents-textbox{
        margin-bottom: 40px;
        .chat-messages-contents-box-text{
          font-size: 14px;
          color: #434A54;
        }
      }
    }
    .chats-post{
      height: 50px;
      width: 75%;
      padding: 20px 40px 20px 40px;
      position: absolute;
      bottom: 0px;
      background-color: #AAAAAA;
      .chats-post-text{
        line-height: 50px;
        width: 88%;
        font-size: 16px;
        background-color: white;
        color: #AAAAAA;
        padding-left: 10px;
        float: left;
        display: block;
        .fa-picture-o{
        line-height: 50px;
        float: right;
        padding-right: 10px;
        color: black;
      }
      }
      .chats-post-bottom{
        line-height: 50px;
        padding:0px 25px;
        margin-left: 15px;
        color: white;
        float: right;
      }
    }
  }
}
