html, body, .contents, .group, .chat, .chat__messages{
  height: 100%;
}

html{
  overflow: auto;

}
body{
  position: relative;
  overflow: hidden;
}
.contents:after{
  content: "";
  display: block;
  clear: both;
}

.flash__message, .chat__messages__post__buttom{
  background-color: $blue-color;
}


.text__white{
  color: $white-color;
}


.flash__message{
  &__text{
    color: $white-color;
    text-align: center;
  }
}