.contents, .group, .chat, .chat__messages{
  height: 100vh;
}

html{
  overflow: scroll;

}
body{
  min-height: 100vh;
  overflow: scroll;
  position: relative;
  overflow: hidden;
  background-color: #fafafa;
}
.contents:after{
  content: "";
  display: block;
  clear: both;
}

.chat__messages__post__buttom{
  background-color: $blue-color;
}


.text__white{
  color: $white-color;
}


