.group{
  width: 300px;
  float: left;
  .group-user{
    background-color: #253141;
    height: 96px;
    padding: 0 20px;
    .group-user-name{
      font-weight: bold;
      color: #FFFFFF;
      margin: 40px 0px;
      float: left;
    }
    .fa-cog, .fa-check-square-o{
      color: #FFF;
      font-size: 20px;
      margin: 40px 5px;
      float: right;
    }
  }
  .group-contents{
    padding: 0px 20px;
    height: 100%;
    background-color: #2f3e51;
    .group-contents-box-name{
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 5px;
    }
    .group-contents-box-message{
    font-size: 11px;
    padding-bottom: 40px;
    }
  }
}

